html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	font-family: "Helvetica", sans-serif;
	margin: 0 auto 0 auto;
	width: 90%;
  ;}






nav {
	background-color: rgba(141, 144, 161, 1.0);
	max-width: 100%;
	height: 33px;
	padding: 7px;

}

nav img{
	float:left;
	outline: white solid 2px;
	margin-left: 4px;

}

nav h1 {
	float:left;
	font-weight: bold;
	padding-left: 1%;
	margin: 7px;
}


.nav-list {
	border-right: solid 2px white;
	overflow: auto;
	float: left;
	padding-right: 1%;
	margin: 7px 10px;


}

.login {
	float:right;
	padding-left: 1%;
	margin: 7px;

}



section{
	background-color: rgba(238, 240, 243, 1.0);
	padding-top: 10px;
}
section span {
	color: rgba(141, 144, 161, 1.0);
}
section ol a{
	text-decoration: none;
	font-size: .8em;
	color:rgba(141, 144, 161, 1.0);
}
section dt{
	list-style-type: decimal;
	font-size: 1em;
}

section dt img{
	height: 10px;
	padding-right: 5px;
}
section dd{
	font-size: .8em;
	margin-left: 2%;
	color:rgba(141, 144, 161, 1.0);
}
section p{
	padding: 2% 0;
	margin-left: 2%;
}

footer{
	background-color: rgba(238, 240, 243, 1.0);
	border-top:2px solid rgba(141, 144, 161, 1.0);
	overflow: none;
	height: 200px;
}

footer ul{
list-style: none;
margin: 5% auto;
width: 50%;
}

footer li{
	font-size: .7em;
	text-align: center;
	border-right: solid 2px rgba(141, 144, 161, 1.0);
	overflow: none;
	float:left;
	padding: 0 1%;
}

.faux-search-box{
	width: 50%;
	margin: 10% auto;
	height: 30px;

}
.Search{
color: rgba(141, 144, 161, 1.0);
float: left;
width: 100%;
}

.result{
	color: white;
	background-color: white;
	margin-left: 2%;
	outline: 1px solid rgba(141, 144, 161, 1.0);
}
