<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="style.css" rel="stylesheet"/>
    <title>Dat EJS</title>
  </head>
  <body>
    <h1>Real Estate Data</h1>
    <table>
      <thead>
        <tr>
          <th>Street</th>
          <th>City</th>
          <th>State</th>
          <th>Zip</th>
        </tr>
      </thead>
      <tbody>
        <% for (var i = 1; i < lines.length - 1; i++) {%>
        <tr>
          <td><%= street[i].street %></td>
          <td><%= street[i].city %></td>
          <td><%= street[i].state %></td>
          <td><%= street[i].zip %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
