.hide {
  display:none;
}

.like-button {
  background-image: url('facebook.jpg');
  background-position: -53px -127px;
  height: 30px;
  width: 30px;
}
.david-walsh {
  background-image: url('david-walsh.jpg');
  border: solid 1px #000;
  height: 150px;
  width: 191.5px;
}
.david-walsh:hover {
  background-position: -191px;
}

.monster {
  background-image: url('monster.png');
  height: 116px;
  width: 116px;
}

.position-1 {
  background-position: 0 0;
}

.position-2 {
  background-position: -118px 0;
}

.position-3 {
  background-position: -236px 0;
}
